<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="">

  <link rel="stylesheet" href="/Bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <script src="/jQuery/jquery-3.3.1.min.js"></script>
  <script src="/jQuery/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/styles/jquery-ui.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="/jQuery/jquery.ui.touch-punch.min.js"></script>
  <script src="/Bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/main.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg <%= navBarType %> fixed-top" style="<%= backgroundColor %><%= color %>">

    <a class="navbar-brand" href="/" style="<%= color %>">The Suburbs Directory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/about" tabindex="-1" style="<%= color %>">About</a>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true" style="<%= color %>">
            Business
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightgray">
            <a class="dropdown-item" href="#" style="font-weight: bold;">Suburbs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/atlanticseaboard" style="background-color: #f5c23d;">Atlantic Seaboard</a>
            <a class="dropdown-item" href="/capeflats" style="background-color: #afb1b4; color: white;" inactive="true">Cape
              Flats</a>
            <a class="dropdown-item" href="/citybowl" style="background-color: #f7913e; color: white">City Bowl</a>
            <a class="dropdown-item" href="/helderberg" style="background-color: #fb3c3f; color: white">Helderberg</a>
            <a class="dropdown-item" href="/northernsuburbs" style="background-color: #ae9bd9; color: white">Northern
              Suburbs</a>
            <a class="dropdown-item" href="/southpeninsula" style="background-color: #4267b4; color: white">South
              Penninsula</a>
            <a class="dropdown-item" href="/southernsuburbs" style="background-color: #41b62a; color: white">Southern
              Suburbs</a>
            <a class="dropdown-item" href="/westcoast" style="background-color: #f58695; ">West Coast</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/register" id="goRegister">Sign Up</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/packages">Package Options</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/terms">Terms & Conditions</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true" style="<%= color %>">
            Community Notices
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightgray">
            <a class="dropdown-item" href="#" style="font-weight: bold;">Suburb Notices</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/atlanticseaboardNotices" style="background-color: #f5c23d;">Atlantic Seaboard</a>
            <a class="dropdown-item" href="/capeflatsNotices" style="background-color: #afb1b4; color: white;" inactive="true">Cape
              Flats</a>
            <a class="dropdown-item" href="/citybowlNotices" style="background-color: #f7913e; color: white">City Bowl</a>
            <a class="dropdown-item" href="/helderbergNotices" style="background-color: #fb3c3f; color: white">Helderberg</a>
            <a class="dropdown-item" href="/northernsuburbsNotices" style="background-color: #ae9bd9; color: white">Northern Suburbs</a>
            <a class="dropdown-item" href="/southpeninsulaNotices" style="background-color: #4267b4; color: white">South Penninsula</a>
            <a class="dropdown-item" href="/southernsuburbsNotices" style="background-color: #41b62a; color: white">Southern Suburbs</a>
            <a class="dropdown-item" href="/westcoastNotices" style="background-color: #f58695; ">West Coast</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true" style="<%= color %>">
            Charity
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightgray">
            <a class="dropdown-item" href="#" style="font-weight: bold;">Charity by Area</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/atlanticseaboardCharity" style="background-color: #f5c23d;">Atlantic Seaboard</a>
            <a class="dropdown-item" href="/capeflatsCharity" style="background-color: #afb1b4; color: white;" inactive="true">Cape
              Flats</a>
            <a class="dropdown-item" href="/citybowlCharity" style="background-color: #f7913e; color: white">City Bowl</a>
            <a class="dropdown-item" href="/helderbergCharity" style="background-color: #fb3c3f; color: white">Helderberg</a>
            <a class="dropdown-item" href="/northernsuburbsCharity" style="background-color: #ae9bd9; color: white">Northern Suburbs</a>
            <a class="dropdown-item" href="/southpeninsulaCharity" style="background-color: #4267b4; color: white">South Penninsula</a>
            <a class="dropdown-item" href="/southernsuburbsCharity" style="background-color: #41b62a; color: white">Southern Suburbs</a>
            <a class="dropdown-item" href="/westcoastCharity" style="background-color: #f58695; ">West Coast</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/charityApplication">Suggest a Charity</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="<%= color %>">Contact</a>
        </li>
      </ul>
      
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="<%= color %>">Search</button>

      </form> -->
    </div>
  </nav>