<% include partials/header %>
<!-- <script src="../profileImages.js"></script> -->
<script src="../js/profileImages.js"></script>

<div class="container col-lg-12" id="a_profileImageform">

    <!-- PROFILE IMAGE -->
    <br><br>
    <div class="ImageDetails">
        <p>You must upload a profile image and three other images</p>
        <form class="form-horizontal" action="/upload" method="post" id="my_form">
            <div class="form-group">
                <h1>Profile Image </h1>
                <input id="clientID" type="text" value="<%= profileId %>" hidden>
                <h2 id="a_busName">
                    <%= businessName %>
                </h2>
                <h5>expand and move the inner square to suit you</h5>

                <div id="a_uploadProfileImagesBtns" class="col-md-9" style="display: flex;">
                    <input id="a_uploadFile" class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="file" name="file-to-upload"
                        accept="image/*" />
                    <input id="a_useImage" class="btn btn-outline-success my-2 my-sm-0 contactBtn use-image" type="submit"
                        name="submit" value="Use Image" />
                </div>
            </div>
        </form>
        <div id="a_holdingContainer" style="display: none">
            <div id="a_imageContainer">
                <div id="a_mainImageArea">
                    <div id="a_mainImageArea2"></div>
                    <div id="a_imageCrop" style="width: 100%;">
                        <p> Drag to move or resize </p>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
        <br>
        <button id="a_saveProfileImg" class="btn btn-outline-success my-2 my-sm-0 contactBtn" style="margin: 0px 10px; width: 50vh; display:none;"
            type="submit">Save</button>
<!-- 
            <a href="/previewProfile" class="lertAnchor">
                <div class="lert" class="alert alert-dark col-md-9" role="alert" style=" margin-top: 65px;">
                    Congratulations - Click me & <strong>check out</strong> your profile. Admin will get hold
                    of you shortly!
                </div>
            </a> -->
    </div>

</div>
<div>
    
</div>

<div class="container col-lg-12" id="b_profileImageform">

    <!-- BUSINNESS 1 IMAGE -->
    <br><br>
    <div class="ImageDetails">
        <form class="form-horizontal" action="/uploadB" method="post" id="b_my_form">
            <div class="form-group">
                <h3>Business Image 1</h3>
                <input id="clientID" type="text" value="<%= profileId %>" hidden>
                <!-- <h2 id="b_busName">
                    <%= businessName %>
                </h2> -->
                <h5>expand and move the inner square to suit you</h5>

                <div id="b_uploadProfileImagesBtns" class="col-md-9" style="display: flex;">
                    <input id="b_uploadFile" class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="file" name="b_file-to-upload"
                        accept="image/*" />
                    <input id="b_useImage" class="btn btn-outline-success my-2 my-sm-0 contactBtn use-image" type="submit"
                        name="submit" value="Use Image" />
                </div>
            </div>
        </form>
        <div id="b_holdingContainer" style="display: none">
            <div id="b_imageContainer">
                <div id="b_mainImageArea">
                    <div id="b_mainImageArea2"></div>
                    <div id="b_imageCrop" style="width: 100%;">
                        <p> Drag to move or resize </p>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
        <br>
        <button id="b_saveProfileImg" class="btn btn-outline-success my-2 my-sm-0 contactBtn" style="margin: 0px 10px; width: 50vh;display:none;"
            type="submit">Save</button>

            <!-- <div>
                <a href="/previewProfile" class="lertAnchor">
                    <div class="lert" class="alert alert-dark col-md-9" role="alert" style=" margin-top: 65px;">
                        Congratulations - Click me & <strong>check out</strong> your profile. Admin will get hold
                        of you shortly!
                    </div>
                </a>
            </div> -->
    </div>
</div>



<div class="container col-lg-12" id="c_profileImageform">

    <!-- BUSINNESS 2 IMAGE -->
    <br><br>
    <div class="ImageDetails">
        <form class="form-horizontal" action="/uploadC" method="post" id="c_my_form">
            <div class="form-group">
                <h3>Business Image 2</h3>
                <input id="clientID" type="text" value="<%= profileId %>" hidden>
                <!-- <h2 id="c_busName">
                    <%= businessName %>
                </h2> -->
                <h5>expand and move the inner square to suit you</h5>

                <div id="c_uploadProfileImagesBtns" class="col-md-9" style="display: flex;">
                    <input id="c_uploadFile" class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="file" name="c_file-to-upload"
                        accept="image/*" />
                    <input id="c_useImage" class="btn btn-outline-success my-2 my-sm-0 contactBtn use-image" type="submit"
                        name="submit" value="Use Image" />
                </div>
            </div>
        </form>
        <div id="c_holdingContainer" style="display: none">
            <div id="c_imageContainer">
                <div id="c_mainImageArea">
                    <div id="c_mainImageArea2"></div>
                    <div id="c_imageCrop" style="width: 100%;">
                        <p> Drag to move or resize </p>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
        <br>
        <button id="c_saveProfileImg" class="btn btn-outline-success my-2 my-sm-0 contactBtn" style="margin: 0px 10px; width: 50vh; display:none;"
            type="submit">Save</button>

            <!-- <div>
                <a href="/previewProfile" class="lertAnchor">
                    <div class="lert" class="alert alert-dark col-md-9" role="alert" style=" margin-top: 65px;">
                        Congratulations - Click me & <strong>check out</strong> your profile. Admin will get hold
                        of you shortly!
                    </div>
                </a>
            </div> -->
    </div>
</div>



<div class="container col-lg-12" id="d_profileImageform">

    <!-- BUSINNESS 2 IMAGE -->
    <br><br>
    <div class="ImageDetails">
        <form class="form-horizontal" action="/uploadD" method="post" id="d_my_form">
            <div class="form-group">
                <h3>Business Image 3</h3>
                <input id="clientID" type="text" value="<%= profileId %>" hidden>
                <!-- <h2 id="d_busName">
                    <%= businessName %>
                </h2> -->
                <h5>expand and move the inner square to suit you</h5>

                <div id="d_uploadProfileImagesBtns" class="col-md-9" style="display: flex;">
                    <input id="d_uploadFile" class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="file" name="d_file-to-upload"
                        accept="image/*" />
                    <input id="d_useImage" class="btn btn-outline-success my-2 my-sm-0 contactBtn use-image" type="submit"
                        name="submit" value="Use Image" />
                </div>
            </div>
        </form>
        <div id="d_holdingContainer" style="display: none">
            <div id="d_imageContainer">
                <div id="d_mainImageArea">
                    <div id="d_mainImageArea2"></div>
                    <div id="d_imageCrop" style="width: 100%;">
                        <p> Drag to move or resize </p>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
        <br>
        <button id="d_saveProfileImg" class="btn btn-outline-success my-2 my-sm-0 contactBtn" style="margin: 0px 10px; width: 50vh; display:none;"
            type="submit">Save</button>

    </div>


</div>
<div class="container col-lg-12" id="e_profileImageform">

    <!-- BUSINNESS 2 IMAGE -->
    <br><br>
    <div class="ImageDetails">

        <form class="form-horizontal">

            <div class="form-group">

                <div id="ifUser">
                    <a href="/previewProfile" class="lertAnchor col-md-9 btn btn-outline-success my-2 my-sm-0 contactBtn">
                        <div class="lert" class="alert alert-dark " role="alert" >
                            <strong>Check out  your profile</strong>
                           
                        </div>
                    </a>
                    
                </div>
                <!-- <input id="goBack"class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="button" value="Go back!" onclick="history.back()" style="display: none"> -->


            </div>
        </form>


    </div>


</div>

<% include partials/footer %>